.cabecalho {
    display: flex;
    max-width: 1200px;
    background-color: rgb(30, 87, 156);
    justify-content: space-between;
}

.logo {
    max-width: 400px;
    max-height: 300px;
    margin: 30px;
}

.subTitle {
    font-size: 1.1rem;
}

.imagem {
    max-width: 600px;
    max-height: 250px;
}